[submodule "image-slider"]
	path = image-slider
	url = https://github.com/nicolas-jurco/image-slider.git
[submodule "games"]
	path = games
	url = https://github.com/nicolas-jurco/games.git
[submodule "algorithms"]
	path = algorithms
	url = https://github.com/nicolas-jurco/algorithms
